*.csv
.Ruserdata
.RData
.Rhistory
.Rproj.user
ml-25m/
ml-25m.zip

*.rds

Francesco_Nicoli_AM11_Part1.html

Francesco_Nicoli_AM11_Part1.Rmd

Francesco_Nicoli_AM11_Part2.Rmd

Francesco_Nicoli_AM11_Part3.Rmd
